workflow.json
{
  "name": "Roomly v13 – placeholders en URL",
  "nodes": [
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $env.WHATSAPP_RECIPIENT }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [7904, 1168],
      "id": "834511e9-120a-4af5-8c78-5deb94123e0e",
      "name": "Enviar respuesta al usuario",
      "webhookId": "a05f33a1-d7a6-40ab-97ee-80b659379421",
      "credentials": {
        "whatsAppApi": {"id": "", "name": "WhatsApp account"}
      }
    },
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [7120, 1168],
      "id": "a6f52e54-ff39-4c1f-8ae2-af0b40aad7cd",
      "name": "WhatsApp Trigger",
      "webhookId": "a3989a6b-2aa1-441d-8ef6-c91e5954738f",
      "credentials": {
        "whatsAppTriggerApi": {"id": "", "name": "WhatsApp OAuth account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst mensaje = item.messages?.[0];\nif (!mensaje || mensaje.type !== 'text') return [];\nconst phoneNumberId = item.metadata?.phone_number_id ?? '';\nconst from = mensaje.from ?? '';\nconst messageText = mensaje.text?.body ?? '';\nconst timestamp = mensaje.timestamp ?? Math.floor(Date.now() / 1000);\nif (!messageText.trim()) return [];\nreturn [{ json: { phoneNumberId, from, messageText, timestamp } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7360, 1168],
      "id": "f7e917e6-7e11-4533-bae7-fb0a8a377160",
      "name": "Extraer datos del mensaje"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extraer datos del mensaje').item.json.from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [7616, 1376],
      "id": "0a5183d6-9805-42a3-82e5-bced79defb47",
      "name": "Memoria por usuario"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 512,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [7104, 1472],
      "id": "7b147711-a013-42bb-8558-a3b7ce6b03f3",
      "name": "Gemini Flash",
      "credentials": {
        "googlePalmApi": {"id": "", "name": "Google Gemini(PaLM) Api account"}
      }
    },
    {
      "parameters": {
        "jsCode": "return [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8112, 1184],
      "id": "cf6fe2da-d663-4d2d-8818-7ac6d1ecf6cb",
      "name": "Logging de interacción"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "=Eres Roomly, recepcionista virtual de hotel. Solo gestionás reservas por WhatsApp.\nHOY: {{ $now.toISO() }}\nTELÉFONO DEL HUÉSPED: {{ $('Extraer datos del mensaje').item.json.from }}\n\nACCIONES DISPONIBLES:\n\n1. NUEVA RESERVA: Recopilá nombre, check-in (YYYY-MM-DD), check-out (YYYY-MM-DD), cantidad de personas.\n   Flujo OBLIGATORIO:\n   a) consultar_habitaciones(checkIn, checkOut) → elegir habitación según disponibilidad\n   b) crear_reserva(roomId, guestName, guestPhone, checkIn, checkOut, numGuests)\n      → guestPhone: SIEMPRE usá el teléfono del huésped indicado arriba, sin el signo +\n      → confirmá con el código RML que devuelve la respuesta\n\n2. CONSULTA: Pedí código RML. Llamá consultar_reserva(code=RML-XXXX). Mostrá código, nombre, ingreso, egreso, hab., personas.\n\n3. MODIFICACIÓN: Pedí código RML. Llamá consultar_reserva → obtenés 'id'. Luego modificar_reserva(id, y los campos que cambian).\n\n4. CANCELACIÓN: Pedí código RML. Llamá consultar_reserva → obtenés 'id'. Pedí confirmación explícita → cancelar_reserva(id).\n\nREGLAS:\n- Fechas SIEMPRE en formato YYYY-MM-DD.\n- Respuestas cortas, en español rioplatense.\n- Si no es sobre reservas: \"Solo gestiono reservas del hotel. ¿Querés hacer o consultar una?\""
        }
      },
      "id": "c020e75b-8f4c-4a83-abfc-646a4db0baac",
      "name": "AI Agent – Roomly",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [7600, 1168],
      "typeVersion": 1.8,
      "alwaysOutputData": false,
      "retryOnFail": true
    },

    {
      "parameters": {
        "name": "consultar_habitaciones",
        "description": "Consulta habitaciones disponibles para un rango de fechas. Devuelve lista con id, número, tipo y capacidad. SIEMPRE llamar antes de crear una reserva.",
        "method": "GET",
        "url": "={{ $env.BACKEND_URL + '/api/v1/rooms?hotelId=' + $env.HOTEL_ID + '&_s=' + $env.N8N_WEBHOOK_SECRET + '&checkIn={checkIn}&checkOut={checkOut}' }}",
        "placeholderDefinitions": {
          "values": [
            {"name": "checkIn",  "description": "Fecha check-in YYYY-MM-DD",  "type": "string"},
            {"name": "checkOut", "description": "Fecha check-out YYYY-MM-DD", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [7808, 1504],
      "id": "b1a00001-0001-0001-0001-000000000001",
      "name": "consultar_habitaciones"
    },

    {
      "parameters": {
        "name": "crear_reserva",
        "description": "Crea una nueva reserva. Requiere roomId (de consultar_habitaciones), guestName, guestPhone (teléfono del sistema sin +), checkIn, checkOut (YYYY-MM-DD), numGuests. Devuelve la reserva con su código RML.",
        "method": "GET",
        "url": "={{ $env.BACKEND_URL + '/api/v1/reservations/crear?hotelId=' + $env.HOTEL_ID + '&channel=WHATSAPP&_s=' + $env.N8N_WEBHOOK_SECRET + '&roomId={roomId}&guestName={guestName}&guestPhone={guestPhone}&checkIn={checkIn}&checkOut={checkOut}&numGuests={numGuests}' }}",
        "placeholderDefinitions": {
          "values": [
            {"name": "roomId",     "description": "ID de la habitación (campo id de consultar_habitaciones)", "type": "string"},
            {"name": "guestName",  "description": "Nombre completo del huésped",                              "type": "string"},
            {"name": "guestPhone", "description": "Teléfono del huésped (del sistema, sin +)",                "type": "string"},
            {"name": "checkIn",    "description": "Fecha check-in YYYY-MM-DD",                                "type": "string"},
            {"name": "checkOut",   "description": "Fecha check-out YYYY-MM-DD",                               "type": "string"},
            {"name": "numGuests",  "description": "Cantidad de personas (número entero)",                     "type": "number"}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [7936, 1488],
      "id": "b1a00001-0002-0002-0002-000000000002",
      "name": "crear_reserva"
    },

    {
      "parameters": {
        "name": "consultar_reserva",
        "description": "Busca una reserva por su código RML (ej: RML-1234). Devuelve los detalles incluyendo el 'id' interno necesario para modificar o cancelar.",
        "method": "GET",
        "url": "={{ $env.BACKEND_URL + '/api/v1/reservations?_s=' + $env.N8N_WEBHOOK_SECRET + '&code={code}' }}",
        "placeholderDefinitions": {
          "values": [
            {"name": "code", "description": "Código RML de la reserva, ej: RML-1234", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [8064, 1504],
      "id": "b1a00001-0003-0003-0003-000000000003",
      "name": "consultar_reserva"
    },

    {
      "parameters": {
        "name": "modificar_reserva",
        "description": "Modifica fechas o cantidad de personas de una reserva. Requiere el 'id' interno (de consultar_reserva). Pasar solo los campos que cambian.",
        "method": "GET",
        "url": "={{ $env.BACKEND_URL + '/api/v1/reservations/modificar?_s=' + $env.N8N_WEBHOOK_SECRET + '&id={id}&checkIn={checkIn}&checkOut={checkOut}&numGuests={numGuests}' }}",
        "placeholderDefinitions": {
          "values": [
            {"name": "id",        "description": "ID interno de la reserva (campo id de consultar_reserva)",   "type": "string"},
            {"name": "checkIn",   "description": "Nueva fecha check-in YYYY-MM-DD (omitir si no cambia)",      "type": "string"},
            {"name": "checkOut",  "description": "Nueva fecha check-out YYYY-MM-DD (omitir si no cambia)",     "type": "string"},
            {"name": "numGuests", "description": "Nueva cantidad de personas (omitir si no cambia)",           "type": "number"}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [8192, 1504],
      "id": "b1a00001-0004-0004-0004-000000000004",
      "name": "modificar_reserva"
    },

    {
      "parameters": {
        "name": "cancelar_reserva",
        "description": "Cancela una reserva (estado CANCELLED). Requiere el 'id' interno (de consultar_reserva). SOLO ejecutar tras confirmación EXPLÍCITA del huésped.",
        "method": "GET",
        "url": "={{ $env.BACKEND_URL + '/api/v1/reservations/cancelar?_s=' + $env.N8N_WEBHOOK_SECRET + '&id={id}' }}",
        "placeholderDefinitions": {
          "values": [
            {"name": "id", "description": "ID interno de la reserva a cancelar", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [8320, 1504],
      "id": "b1a00001-0005-0005-0005-000000000005",
      "name": "cancelar_reserva"
    }
  ],

  "pinData": {},
  "connections": {
    "WhatsApp Trigger":             {"main":             [[{"node": "Extraer datos del mensaje",   "type": "main",             "index": 0}]]},
    "Extraer datos del mensaje":    {"main":             [[{"node": "AI Agent – Roomly",           "type": "main",             "index": 0}]]},
    "AI Agent – Roomly":            {"main":             [[{"node": "Enviar respuesta al usuario", "type": "main",             "index": 0}]]},
    "Enviar respuesta al usuario":  {"main":             [[{"node": "Logging de interacción",      "type": "main",             "index": 0}]]},
    "Gemini Flash":                 {"ai_languageModel": [[{"node": "AI Agent – Roomly",           "type": "ai_languageModel", "index": 0}]]},
    "Memoria por usuario":          {"ai_memory":        [[{"node": "AI Agent – Roomly",           "type": "ai_memory",        "index": 0}]]},
    "consultar_habitaciones":       {"ai_tool":          [[{"node": "AI Agent – Roomly",           "type": "ai_tool",          "index": 0}]]},
    "crear_reserva":                {"ai_tool":          [[{"node": "AI Agent – Roomly",           "type": "ai_tool",          "index": 0}]]},
    "consultar_reserva":            {"ai_tool":          [[{"node": "AI Agent – Roomly",           "type": "ai_tool",          "index": 0}]]},
    "modificar_reserva":            {"ai_tool":          [[{"node": "AI Agent – Roomly",           "type": "ai_tool",          "index": 0}]]},
    "cancelar_reserva":             {"ai_tool":          [[{"node": "AI Agent – Roomly",           "type": "ai_tool",          "index": 0}]]}
  },

  "active": false,
  "settings": {"executionOrder": "v1", "binaryMode": "separate"},
  "meta": {},
  "id": "GOBby76nZiQ2yYxw",
  "tags": []
}
